<div class="container">
    <div>
        <md-card class="md-padding top-card">
            <md-content>
                <md-input-container class="md-block">
                    <label>Pretraga</label>
                    <input name="search" type="text" autofocus ng-model="query">
                </md-input-container>
            </md-content>
            <md-card-actions layout="row" layout-align="end center" ng-if="user.role === 'MENADZER'">
                <md-button class="md-primary md-raised" ng-click="addBusiness()">Dodaj novi
                    <md-tooltip md-direction="bottom">
                        Dodaj novi objekat
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-cloak class="md-padding list-card" ng-cloak ng-repeat="business in businesses | filter:search"
                 ng-class="{'md-whiteframe-4dp':hovering}"
                 ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline mouse-pointer" ng-click="showBusiness(business.id)">{{business.name}}</span>
                    <span class="md-subhead">{{business.address}}</span>
                    <span class="md-subhead">{{business.city.name}}</span>
                    <span class="md-subhead"><a href="{{business.webSite}}" target="_blank">{{business.webSite}}</a></span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="card-media card-image">
                        <img class="mouse-pointer" src="{{business.imageUrl}}" ng-click="showBusiness(business.id)">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" ng-show="user.id == business.user.id">
                <md-button class="md-warn" ng-click="deleteBusiness(business.id)">Obriši</md-button>
                <md-button class="md-primary" ng-click="addEvent(business, true)">Novi događaj
                    <md-tooltip md-direction="bottom">
                        Dodaj novi događaj za ovaj objekat
                    </md-tooltip>
                </md-button>
                <md-button class="md-primary" ng-click="editBusiness(business, true)">Izmeni</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>