<div class="container">
    <div>
        <md-card class="md-padding top-card">
            <md-content>
                <md-input-container class="md-block">
                    <label>Pretraga</label>
                    <input name="search" type="text" autofocus ng-model="query">
                </md-input-container>

                <table class="wide-table">
                    <tr>
                        <md-datepicker ng-model="date.start" md-placeholder="Od datuma"></md-datepicker>

                    </tr>
                    <tr>
                        <md-datepicker ng-model="date.end" md-placeholder="Do datuma"></md-datepicker>
                    </tr>
                </table>
            </md-content>
            <md-card-actions layout="row" layout-align="end center" >
                <md-button class="md-warn" ng-click="reset()">Resetuj
                    <md-tooltip md-direction="bottom">
                        Obriši kriterijume pretrage
                    </md-tooltip>
                </md-button>
                <md-button ng-if="user.role === 'MENADZER'" class="md-primary md-raised" ng-click="addEvent()">Dodaj novi
                    <md-tooltip md-direction="bottom">
                        Dodaj novi događaj
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-cloak class="md-padding list-card" ng-cloak ng-repeat="event in events | filter:search">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline mouse-pointer" ng-click="showEvent(event.id)">{{event.name}}</span>
                    <span class="md-subhead">{{event.business.name}}</span>
                    <span class="md-subhead">{{event.applicationDate | date:'dd-MM-yyyy'}}</span>
                    <span class="md-subhead">{{event.description}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="card-media card-image">
                        <img class="mouse-pointer" src="{{event.imageUrl}}" ng-click="showEvent(event.id)">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" ng-show="user.id != event.user.id">
                <md-button class="md-primary" ng-disabled="eventReserved(event)" ng-click="attendEvent(event)">Prijavi se
                    <md-tooltip md-direction="bottom">
                        Prijavi se na ovaj događaj
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>