<div class="container">
    <div>
        <md-card class="md-padding top-card">
            <md-content>
                <md-input-container class="md-block">
                    <label>Pretraga</label>
                    <input name="search" type="text" autofocus ng-model="query">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Ocena</label>
                    <md-select name="rating" ng-model="rating">
                        <md-option value="1">1</md-option>
                        <md-option value="2">2</md-option>
                        <md-option value="3">3</md-option>
                        <md-option value="4">4</md-option>
                        <md-option value="5">5</md-option>
                    </md-select>
                </md-input-container>
            </md-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-warn" ng-click="reset()">Resetuj
                    <md-tooltip md-direction="bottom">
                        Obriši kriterijume pretrage
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card class="md-padding list-card" ng-cloak ng-repeat="review in reviews | filter:search">
            <table class="wide-table">
                <tr class="underline">
                    <td>
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" src="{{review.user.imageUrl}}">
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{review.user.name}} {{review.user.surname}}</span>
                                <span class="md-subhead">{{review.user.username}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </td>
                    <td class="right-td"><span class="md-subhead">Ocena: {{review.rating}}</span></td>
                </tr>
                <tr class="underline">
                        <td><span class="md-subhead">Objekat:</span></td>
                        <td class="right-td"><span class="md-subhead">{{review.business.name}}</span></td>
                </tr>
            </table>
            <md-card-content>
                <p>{{review.comment}}</p>
            </md-card-content>
        </md-card>
    </div>
</div>