<div>
    <md-content>
        <md-toolbar class="stay-top">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="img/ic_menu_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
                <span flex></span>
                <img class="toolbar-profile-icon toolbar-item" src="{{user.imageUrl}}">
                <h3 class="toolbar-item"><span>{{user.name}} {{user.surname}}</span></h3>
                <md-button class="md-raised md-warn" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 stay-top" md-component-id="left">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="img/ic_arrow_back_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToBusinesses()" class="md-primary sidenav-item"  ng-disabled="page.current == 1">
                    Objekti
                </md-button>
            </md-input-container>

            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToEvents()" class="md-primary sidenav-item"  ng-disabled="page.current == 2">
                    Događaji
                </md-button>
            </md-input-container>

            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToReviews()" class="md-primary sidenav-item"  ng-disabled="page.current == 3">
                    Recenzije
                </md-button>
            </md-input-container>

            <md-input-container class="md-block sidenav-item" ng-if="user.role === 'MENADZER'">
                <md-button ng-click="goToMyEvents()" class="md-primary sidenav-item"  ng-disabled="page.current == 4">
                    Moji Događaji
                </md-button>
            </md-input-container>
        </md-content>
    </md-sidenav>

    <section id="container" class="page active">
        <ui-view></ui-view>
    </section>
</div>