<div class="outer">
    <div class="middle">
        <div class="inner">
            <form novalidate name="registerForm">
                <md-card class="md-padding card register-card">
                    <md-content layout="row">
                        <md-content layout-padding class="register-column">
                            <md-card-title>
                                <md-card-title-text>
                                    <p class="md-headline">ORO</p>
                                    <p class="md-subhead">Registracija</p>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <md-input-container class="md-block">
                                    <label>Korisničko ime</label>
                                    <input id="username" name="username" type="text" data-ng-model="user.username"
                                           ng-blur="usernameChanged()" required autofocus>
                                    <div ng-messages="registerForm.username.$error"
                                         ng-if="registerForm.username.$dirty">
                                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                    </div>
                                    <div ng-messages="username" ng-if="registerForm.username.$dirty">
                                        <div ng-message="exists">Korisničko ime već postoji.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Lozinka</label>
                                    <input id="password" name="password" type="password" data-ng-model="user.password"
                                           required>
                                    <div ng-messages="registerForm.password.$error"
                                         ng-if="registerForm.password.$dirty">
                                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Ime</label>
                                    <input id="name" name="name" type="text" data-ng-model="user.name" required>
                                    <div ng-messages="registerForm.name.$error" ng-if="registerForm.name.$dirty">
                                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Prezime</label>
                                    <input id="surname" name="surname" type="text" data-ng-model="user.surname"
                                           required>
                                    <div ng-messages="registerForm.surname.$error" ng-if="registerForm.surname.$dirty">
                                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Uloga</label>
                                    <md-select name="role" ng-model="user.role" required>
                                        <md-option value="KORISNIK">Korisnik</md-option>
                                        <md-option value="MENADZER">Menadžer</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Broj telefona</label>
                                    <input id="phone" name="phone" type="text" data-ng-model="user.phone" required>
                                    <div ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$dirty">
                                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Email adresa</label>
                                    <input id="email" name="email" type="email" data-ng-model="user.email" required
                                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                    <div ng-messages="registerForm.email.$error" role="alert"
                                         ng-if="registerForm.email.$dirty">
                                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                        <div ng-message="pattern">Email adresa mora biti validna.</div>
                                    </div>
                                </md-input-container>

                            </md-card-content>

                        </md-content>

                        <md-content layout-padding class="register-column">
                            <div ng-repeat="item in images" class="md-block">
                                <div ng-thumb="{ file: item._file, width: 350 }" uploader="uploader"></div>
                                <span ng-bind="item.file.name"></span>
                            </div>

                            <input type="file" nv-file-select uploader="uploader">

                        </md-content>
                    </md-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="goToSignIn()">Prijava</md-button>
                        <md-button type="submit" class="md-primary md-raised" ng-click="register()"
                                   ng-disabled="registerForm.$invalid || !hasUrl">Registruj se
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </div>
</div>