<div class="outer">
    <div class="middle">
        <div class="inner">
            <form novalidate name="logInForm">
                <md-card class="md-padding card login" ng-cloak>
                    <md-content layout-padding>
                        <md-card-title>
                            <md-card-title-text>
                                <p class="md-headline">ORO</p>
                                <p class="md-subhead">Onlajn Recenzije Objekata</p>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content>
                            <md-input-container class="md-block">
                                <label>Korisničko ime</label>
                                <input id="username" name="username" type="text" ng-model="user.username" required autofocus>
                                <div ng-messages="logInForm.username.$error" ng-if="logInForm.username.$dirty">
                                    <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Lozinka</label>
                                <input id="password" name="password" type="password" ng-model="user.password" required>
                                <div ng-messages="logInForm.password.$error" ng-if="logInForm.password.$dirty">
                                    <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                                </div>
                            </md-input-container>
                        </md-card-content>

                    </md-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="goToRegister()">Registracija</md-button>
                        <md-button type="submit" class="md-primary md-raised" ng-disabled="logInForm.$invalid" ng-click="signIn()">Prijavi se
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </div>
</div>