<div class="container">
    <div>
        <md-card class="top-card" ng-show="business">
            <div class="center-cropped" style="background-image: url({{business.imageUrl}});">
            </div>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{business.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <table class="wide-table">
                    <tr class="underline">
                        <td><span class="md-subhead">Kategorija:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.category.name}}</span></td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">Adresa:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.address}}</span></td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">Grad:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.city.name}}</span></td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">Web sajt:</span></td>
                        <td class="right-td"><span class="md-subhead"><a href="{{business.webSite}}" target="_blank">{{business.webSite}}</a></span>
                        </td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">Broj telefona:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.phone}}</span></td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">Email adresa:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.email}}</span></td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">PIB:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.pib}}</span></td>
                    </tr>
                    <tr class="underline">
                        <td><span class="md-subhead">Broj žiro računa:</span></td>
                        <td class="right-td"><span class="md-subhead">{{business.accountNumber}}</span></td>
                    </tr>
                </table>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center" ng-show="business.user.id == user.id">
                <md-button class="md-warn" ng-click="deleteBusiness()">Obriši</md-button>
                <md-button class="md-primary" ng-click="addEvent()">Novi Događaj
                    <md-tooltip md-direction="bottom">
                        Dodaj novi događaj za ovaj objekat
                    </md-tooltip>
                </md-button>
                <md-button class="md-primary" ng-click="editBusiness()">Izmeni</md-button>
            </md-card-actions>
        </md-card>

        <md-card class="md-padding list-card">
            <md-input-container class="md-block">
            <label>Prikaži</label>
            <md-select name="prview" ng-model="preview" required>
                <md-option value="1">Recenzije</md-option>
                <md-option value="2">Događaji</md-option>
            </md-select>
        </md-input-container>
        </md-card>

        <md-card class="md-padding list-card" ng-if="business.user.id != user.id" ng-show="preview == 1">
            <table class="wide-table">
                <tr class="underline">
                    <td>
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" src="{{user.imageUrl}}">
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{user.name}} {{user.surname}}</span>
                                <span class="md-subhead">{{user.username}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </td>
                    <td class="right-td"><span class="md-subhead">Ocena: {{usersReview.rating}}</span></td>
                </tr>
            </table>
            <md-card-content>
                <p>{{usersReview.comment}}</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center" ng-if="hasReview">
                <md-button class="md-raised md-warn" ng-click="deleteReview()">Obriši</md-button>
            </md-card-actions>

            <md-card-content ng-hide="hasReview">
                <form name="reviewForm" novalidate>
                    <md-input-container class="md-block">
                        <label>Komentar</label>
                        <input id="comment" name="comment" type="text" data-ng-model="usersReview.comment" required>
                        <div ng-messages="reviewForm.comment.$error" ng-if="reviewForm.comment.$touched">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Ocena</label>
                        <md-select name="rating" ng-model="usersReview.rating" required>
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                        </md-select>
                    </md-input-container>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button type="submit" class="md-primary md-raised" ng-disabled="reviewForm.$invalid"
                                   ng-click="postReview()">Postavi
                        </md-button>
                    </md-card-actions>
                </form>
            </md-card-content>
        </md-card>

        <md-card class="md-padding list-card" ng-if="preview == 1" ng-cloak ng-repeat="review in reviews">
            <table class="wide-table">
                <tr class="underline">
                    <td>
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" src="{{review.user.imageUrl}}">
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{review.user.name}} {{review.user.surname}}</span>
                                <span class="md-subhead">{{review.user.username}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </td>
                    <td class="right-td"><span class="md-subhead">Ocena: {{review.rating}}</span></td>
                </tr>
            </table>
            <md-card-content>
                <p>{{review.comment}}</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center" ng-show="review.user.id == user.id">
                <md-button class="md-raised md-warn">Obriši</md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-cloak class="md-padding list-card" ng-cloak ng-repeat="event in events" ng-if="preview == 2" >
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline mouse-pointer" ng-click="showEvent(event.id)">{{event.name}}</span>
                    <span class="md-subhead">{{event.business.name}}</span>
                    <span class="md-subhead">{{event.applicationDate | date:'dd-MM-yyyy'}}</span>
                    <span class="md-subhead">{{event.description}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="card-media card-image">
                        <img class="mouse-pointer" src="{{event.imageUrl}}" ng-click="showEvent(event.id)">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" ng-show="user.id != event.user.id">
                <md-button class="md-primary" ng-disabled="eventReserved(event)" ng-click="attendEvent(event)">Prijavi se
                    <md-tooltip md-direction="bottom">
                        Prijavi se na ovaj događaj
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card class="md-padding top-card" ng-hide="dataRetrieved">
            <md-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Nije pronađen</span>
                        <span class="md-subhead">Traženi objekat ne postoji</span>
                    </md-card-title-text>
                </md-card-title>
            </md-content>
        </md-card>
    </div>
</div>