<div class="container">
    <div>
        <md-card class="top-card" ng-if="event">
            <div class="center-cropped" style="background-image: url({{event.imageUrl}});"></div>

            <table class="wide-table">
                <tr>
                    <td>
                        <md-card-header>
                            <md-card-title-text>
                                <span class="md-headline">{{event.name}}</span>
                            </md-card-title-text>
                        </md-card-header>
                    </td>
                    <td class="right-td"><span class="md-subhead">Datum: {{event.applicationDate | date:'dd-MM-yyyy'}}</span></td>
                </tr>
            </table>

            <md-card-content>
                <p class="md-subhead">{{event.business.name}}</p>
                <p>{{event.description}}</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center" >
                <md-button class="md-primary md-raised" ng-disabled="checkEventCriteria()" ng-click="attendEvent()">Prijavi se
                    <md-tooltip md-direction="bottom">
                        Prijavi se na ovaj događaj
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card class="md-padding list-card" ng-cloak ng-repeat="reservation in reservations" ng-if="event">
            <table>
                <tr>
                    <td>
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" src="{{reservation.user.imageUrl}}">
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{reservation.user.name}} {{reservation.user.surname}}</span>
                                <span class="md-subhead">{{reservation.user.username}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </td>
                    <td class="right-td"><span class="md-subhead">{{reservation.event.name}}</span></td>
                </tr>
            </table>
        </md-card>
    </div>
</div>