body, #container {
    background-color: #eaeaea;
}

.card {
    margin: auto;
}

.login {
    width: 500px;
    margin: auto;
}

.register-column {
    width: 400px;
}

.register-card {
    width: 800px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

md-button {
    margin-right: 10px;
}

.toolbar-profile-icon {
    max-width: 30px;
    max-height: 30px;
}

.toolbar-item {
    margin: 0 10px;
}

.sidenav-item {
    width: 100%;
    text-align: left;
}

.list-card {
    margin: 10px auto;
    width: 800px;
}

.top-card {
    margin: 70px auto 20px auto;
    width: 800px;
}

.card-image {
    max-width: 250px;
    max-height: 120px;
    overflow: hidden;
}

.stay-top, .md-sidenav-backdrop {
    position: fixed;
    top: 0;
}

.center-cropped {
    background: no-repeat center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.mouse-pointer {
    cursor: pointer;
}

.underline {
    border-bottom: 1px solid #eaeaea;
}

td {
    padding: 5px;
}

.wide-table {
    width: 100%;
}

.right-td {
    text-align: right;
}

.md-user-avatar {
    max-width: 40px;
    max-height: 40px;
}
