<md-dialog class="md-padding card register-card">
    <form novalidate name="businessForm">
        <md-dialog-content layout="row">
            <md-dialog-content layout-padding class="register-column">
                <md-dialog-content>
                    <md-input-container class="md-block">
                        <label>Naziv</label>
                        <input id="name" name="name" type="text" data-ng-model="business.name" required autofocus>
                        <div ng-messages="businessForm.name.$error" ng-if="businessForm.name.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Kategorija</label>
                        <md-select name="categoryName" ng-model="business.categoryId" required>
                            <md-option value="{{category.id}}" ng-repeat="category in categories">{{category.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Adresa</label>
                        <input id="address" name="address" type="text" data-ng-model="business.address" required>
                        <div ng-messages="businessForm.address.$error" ng-if="businessForm.address.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Grad</label>
                        <input id="cityName" name="cityName" type="text" data-ng-model="business.cityName" required>
                        <div ng-messages="businessForm.cityName.$error" ng-if="businessForm.cityName.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Broj telefona</label>
                        <input id="phone" name="phone" type="text" data-ng-model="business.phone" required>
                        <div ng-messages="businessForm.phone.$error" ng-if="businessForm.phone.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Email adresa</label>
                        <input id="email" name="email" type="text" data-ng-model="business.email" required>
                        <div ng-messages="businessForm.email.$error" ng-if="businessForm.email.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Web sajt</label>
                        <input id="webSite" name="webSite" type="text" data-ng-model="business.webSite" required>
                        <div ng-messages="businessForm.webSite.$error" ng-if="businessForm.webSite.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>PIB</label>
                        <input id="pib" name="pib" type="text" ng-disabled="existed" data-ng-model="business.pib"
                               required ng-blur="pibChanged()">
                        <div ng-messages="businessForm.pib.$error" ng-if="businessForm.pib.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                        <div ng-messages="exists" ng-if="businessForm.pib.$dirty">
                            <div ng-message="pib">PIB već postoji.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Broj žiro računa</label>
                        <input id="accountNumber" name="accountNumber" type="text" ng-disabled="existed"
                               data-ng-model="business.accountNumber" required ng-blur="accountNumberChanged()">
                        <div ng-messages="businessForm.accountNumber.$error" ng-if="businessForm.accountNumber.$dirty">
                            <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                        </div>
                        <div ng-messages="exists" ng-if="businessForm.accountNumber.$dirty">
                            <div ng-message="accountNumber">Broj žiro računa već postoji.</div>
                        </div>
                    </md-input-container>

                </md-dialog-content>

            </md-dialog-content>

            <md-content layout-padding class="register-column">
                <img src="{{business.imageUrl}}" ng-if="hasUrl" ng-hide="urlChanged" width="100%">
                <div ng-repeat="item in images" class="md-block">
                    <div ng-thumb="{ file: item._file, width: 350 }" uploader="uploader"></div>
                    <span ng-bind="item.file.name"></span>
                </div>

                <input type="file" nv-file-select uploader="uploader">

            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Otkaži</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="businessForm.$invalid || !hasUrl || pibExists || accountNumberExists">Sačuvaj
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
