<md-dialog class="md-padding card register-card">
    <form novalidate name="eventForm">
        <md-dialog-content layout="row">
            <md-dialog-content layout-padding class="register-column">

                <md-input-container class="md-block">
                    <label>Naziv</label>
                    <input id="name" name="name" type="text" data-ng-model="event.name" required autofocus>
                    <div ng-messages="eventForm.name.$error" ng-if="eventForm.name.$dirty">
                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Opis</label>
                    <input id="description" name="description" type="text" data-ng-model="event.description" required autofocus>
                    <div ng-messages="eventForm.description.$error" ng-if="eventForm.description.$dirty">
                        <div ng-message="required">Ovo polje ne sme biti prazno.</div>
                    </div>
                </md-input-container>

                <md-datepicker class="md-block" ng-model="event.applicationDate" md-placeholder="Enter date"></md-datepicker>

                <md-input-container class="md-block">
                    <label>Objekat</label>
                    <md-select name="businessId" ng-model="event.businessId" required>
                        <md-option value="{{business.id}}" ng-repeat="business in businesses">{{business.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </md-dialog-content>

            <md-content layout-padding class="register-column">
                <div ng-repeat="item in images" class="md-block">
                    <div ng-thumb="{ file: item._file, width: 350 }" uploader="uploader"></div>
                    <span ng-bind="item.file.name"></span>
                </div>

                <input type="file" nv-file-select uploader="uploader">
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Otkaži</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="eventForm.$invalid || !hasUrl">Sačuvaj
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
